<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/css/app.css">
    <title>BSE Data</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">Today's BSE Data</a>

            <div class="input-group col-md-4">
                <input class="form-control rounded-0" type="search" name="name" id="searchBox" placeholder="Stock Name">
                <span class="input-group-btn">
                    <button id="searchSubmit" class="btn btn-primary rounded-0" type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </span>
            </div>
        </div>
    </nav>

    <div class="dataDiv container table-responsive">
        <div id="loadingDiv" style="overflow-y: hidden;padding-left: 44%;padding-top: 25%;display: none;">
            <div class="loader">
            </div>
        </div>

        <div id="errorDiv" style="overflow-y: hidden;padding-left: 44%;padding-top: 25%;display: none;">
            <!-- <span class="icon-msg">Error</span> -->
            <span>
                <i class="material-icons my_icons">error</i>
            </span>
        </div>

        <div id="nothingFoundDiv" style="overflow-y: hidden;padding-left: 44%;padding-top: 25%;display: none;">
            <!-- <span class="icon-msg"> No results </span> -->
            <span>
                <i class="material-icons my_icons">thumb_down</i>
            </span>
        </div>

        <div id="upDownBtns" class="btn-group" style="position: absolute; z-index: 10; right: 1%; bottom: 5%">
            <button type="button" id="btnUp" class="btn btn-primary" disabled>
                <span>
                    <i class="material-icons">keyboard_arrow_up</i>
                </span>
            </button>
            <button type="button" id="btnDown" class="btn btn-primary" disabled>
                <span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </span>
            </button>
        </div>

        <table class="dataTable table">
            <thead class="thead-inverse">
                <tr>
                    <th data-field="Code">Code</th>
                    <th data-field="Name">Name</th>
                    <th data-field="Open">Open</th>
                    <th data-field="High">High</th>
                    <th data-field="Low">Low</th>
                    <th data-field="Close">Close</th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in data.items() %}
                <tr>
                    <td>{{value.code}}</td>
                    <td>{{key}}</td>
                    <td>{{value.open}}</td>
                    <td>{{value.high}}</td>
                    <td>{{value.low}}</td>
                    <td>{{value.close}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        /*
         * dataToShow will be like this: [{...}, {...}, {...}, {...}, {...}]
         * contentRows will be like this: [tr, tr, tr, tr]
         */

        const dataTable = document.querySelector(".dataTable");
        const tableBody = dataTable.querySelector("tbody");

        const loadingDiv = document.querySelector("#loadingDiv");
        const nothingFoundDiv = document.querySelector("#nothingFoundDiv");
        const errorDiv = document.querySelector("#errorDiv");
        const upDownBtns = document.querySelector("#upDownBtns");

        const tableHeaders = [...document.querySelectorAll(".dataTable>thead>tr>th")];
        const dataFields = tableHeaders.map(header => {
            return header.dataset.field.toLowerCase();
        });

        const searchBtn = document.querySelector("#searchSubmit");
        const upButton = document.querySelector("#btnUp");
        const downButton = document.querySelector("#btnDown");

        let dataToShow = null,
            dataStartIdx = null,
            dataEndIdx = null,
            searchKey = null;

        let contentRows = tableBody.querySelectorAll("tr");
        let numVisibleRows = contentRows.length;

        function singleRowHtml(rowData) {
            const regex = new RegExp(searchKey, "i");
            const rowHtml = dataFields.reduce((rowHtml, field) => {
                if (field == 'name') {
                    return rowHtml + '<td>' + rowData[field].replace(regex,
                        `<span style="background: #ffc600;">${searchKey}</span>`) + '</td>';
                } else {
                    return rowHtml + '<td>' + rowData[field] + '</td>';
                }
            }, "");
            return rowHtml;
        }

        function renderRows() {
            for (let rowNum = 0; rowNum < numVisibleRows; rowNum++) {
                const dataIdx = dataStartIdx + rowNum;
                if (dataIdx % 2 != 0) {
                    contentRows[rowNum].classList.remove("forceEvenClass");
                    contentRows[rowNum].classList.add("forceOddClass");
                } else {
                    contentRows[rowNum].classList.remove("forceOddClass");
                    contentRows[rowNum].classList.add("forceEvenClass");
                }
                contentRows[rowNum].innerHTML = singleRowHtml(dataToShow[dataIdx]);
            }

            upButton.disabled = dataStartIdx == 0 ? true : false;
            downButton.disabled = dataToShow.length - dataStartIdx == numVisibleRows ? true : false;

            upDownBtns.style.display = "flex";
            loadingDiv.style.display = "none";
            dataTable.style.display = "table";
        }

        function resetContentRows(newDataToShowLength) {
            let start, end, display;
            if (newDataToShowLength < numVisibleRows) {
                // newDataToShowLength -> numVisibleRows - 1 : hiding
                start = newDataToShowLength;
                end = numVisibleRows - 1;
                display = "none";
                numVisibleRows = newDataToShowLength;
            } else if (newDataToShowLength > numVisibleRows) {
                // numVisibleRows -> min(newDataToShowLength, contentRows.length) : showing
                start = numVisibleRows;
                numVisibleRows = Math.min(newDataToShowLength, contentRows.length);
                end = numVisibleRows - 1;
                display = "table-row";
            }
            for (let rowNum = start; rowNum <= end; rowNum++) {
                contentRows[rowNum].style.display = display;
            }
        }


        function search(event) {
            const url = new URL('/searchResponse', window.location.href);
            searchKey = document.querySelector("#searchBox").value;

            if (searchKey.length > 0) {
                url.searchParams.append('name', searchKey);

                dataTable.style.display = "none";
                nothingFoundDiv.style.display = "none";
                errorDiv.style.display = "none";
                upDownBtns.style.display = "none";
                loadingDiv.style.display = "block";

                fetch(url).then(function (response) {
                    if (response.ok) {
                        response.json().then(function (data) {
                            dataToShow = data;

                            resetContentRows(dataToShow.length);
                            dataStartIdx = 0;
                            dataEndIdx = dataStartIdx + numVisibleRows;

                            render(dataToShow.length > 0 ? "rows" : "not found");
                        });
                    } else {
                        throw new Error("Network response was not OK");
                    }
                }).catch(function (error) {
                    console.log("This error happened:", error);
                    resetContentRows(0);
                    render("error");
                });
            }
        }

        function render(what) {
            if (what === "rows") {
                renderRows();
            } else if (what === "error" || what === "not found") {
                dataTable.style.display = "none";
                loadingDiv.style.display = "none";

                if (what === "error") {
                    errorDiv.style.display = "block";
                } else if (what === "not found") {
                    nothingFoundDiv.style.display = "block";
                }
            }
        }

        function scrollContent(direction, rowsPerScroll = 1) {
            if (searchKey !== null && (dataStartIdx > 0 || dataEndIdx < dataToShow.length)) {

                if (direction === "up") {
                    dataStartIdx = Math.max(0, dataStartIdx - rowsPerScroll);
                    dataEndIdx = dataStartIdx + numVisibleRows;
                } else if (direction === "down") {
                    dataEndIdx = Math.min(dataToShow.length, dataEndIdx + rowsPerScroll);
                    dataStartIdx = dataEndIdx - numVisibleRows;
                }
                renderRows();
            }
        }

        function scrollUp(event) {
            scrollContent("up");
        }

        function scrollDown(event) {
            scrollContent("down");
        }

        searchBtn.addEventListener('click', search);
        upButton.addEventListener('click', scrollUp);
        downButton.addEventListener('click', scrollDown);
    </script>
</body>

</html>